<div class="home">  
	<div class="hero-message">Welcome to <b>Bongobo</b> your new <u>free internet radio</u> with zero audio ads</div>
	<div class="dark-bg"> 
		{{view "playlists/index" collection=playlists}}  
	</div> 
</div>




<div>{{view "playlists/artists" collection=artists}}</div>













