<div class="container music-list">
{{view "search/genres" collection=genres}} 
{{view "search/lastfm_artists" collection=lastfm_artists}} 

</div>
<button class="view-all-music-lists">View all</button>

 
{{view "playlists/playlist_view" collection=playlists}}    
{{view "playlists/artists" collection=artists}}
 












