


<div class="player-container">

	{{view "tracks/playlist_details"  collection=playlist_details}}   

	{{view "tracks/selected_playlist" collection=selected_playlist}} 

</div>

<div class="related-playlists">
	 
	{{view "playlists/index" collection=related_playlists}}

</div>


