{{view "search/genres" collection=genres}} 
<div class="container">


<div class="player-container">

	{{view "tracks/playlist_details"  collection=playlist_details}}   

	{{view "tracks/selected_playlist" collection=selected_playlist}} 

</div>

<div class="related-playlists">
	
	{{view "playlists/playlist_view" collection=related_playlists}}

</div>


</div>