	<div class="title">
		<img src="images/billboard.png">
		<div>Top 15 Artists Stations</div>
		<span></span>
	</div>
	<div class="artists">

		{{#each models}}
		<a href="/playlists?station={{trimAndPavla title}}-music">
			<span>{{math @index "+" 1}}</span>
			{{trimString title}}
		</a> 
		{{/each}}
	</div>

 