<div class="genres">
  <div class="container">
    <div class="title">Genre Stations <span></span></div>
    <div class="genres-carousel">
     <span class="item"><a href="/playlists?station=top-100-music" class="active">Top 100 <i class="fa fa-bolt" aria-hidden="true"></i></a></span>
     <span class="item"><a href="/playlists?station=pop-music">Pop</a></span>
     <span class="item"><a href="/playlists?station=country-music">Country</a></span>
     <span class="item"><a href="/playlists?station=country-music">Hip Hop</a></span>
     <span class="item"><a href="/playlists?station=workout-music">Workout</a></span>
     <span class="item"><a href="/playlists?station=Dance-music">Dance</a></span>
     <span class="item"><a href="/playlists?station=Party-music">Party</a></span>
     <span class="item"><a href="/playlists?station=Sleep-music">Sleep</a></span>
     <span class="item"><a href="/playlists?station=Dinner-music">Dinner</a></span>
     <span class="item"> <a href="/playlists?station=Chill-music">Chill</a></span>
     <span class="item"><a href="/playlists?station=love-music">Love Songs</a></span>
     <span class="item"><a href="/playlists?station=rnb-soul-music">R&B/Soul</a></span>
     <span class="item"><a href="/playlists?station=Rock-music">Rock</a></span>
     <span class="item"><a href="/playlists?station=Punk-music">Punk</a></span>
     <span class="item"><a href="/playlists?station=Metal-music">Metal</a></span>
     <span class="item"><a href="/playlists?station=Indie-music">Indie</a></span>
   </div>
 </div>
</div>