<div class="search-column">
 <div class="open-search">
  <i class="fa fa-arrow-left"></i>
</div>
<div class="my-search-results">
  <section>  
    <div  class="tracks-container">
      <div class="close-search "><i class="fa fa-times"></i></div>
      
      <div id="search-results"></div>   
      <div class="loader"><img src="images/ajax-loader.gif"></div>
    </div> 
    <div  class="playlist-container"> 
      <div class="close-search "><i class="fa fa-times"></i></div>
      <span class="results-label">SEARCH RESULTS FOR:</span>  
      <div id="playlists"></div>   
      <div class="loader"><img src="images/ajax-loader.gif"></div>
    </div>   
  </section>
</div> 
</div>