<div class="col-md-4">
    <h3 class="title">
        <div>Artist</div> 
        <span></span>
    </h3>
    <ul>

        {{#each models}}

        <li><a href="/playlists?station={{name}}-music">{{name}}</a></li>

        {{/each}}

    </ul>
</div>