		

		<div class="search-for">  
			<span class="light-bg">Search for</span>

			<div class="search-options">
				<ul>
					<li data-id="music" class="active">Playlist</li>
					<li data-id="song" >Track</li>  
				</ul>
			</div> 

			<div class="search">
				<div> 
					<div class="search-for-playlists-container">
						<form class="search-for-playlists" > 
							<input  type="text" placeholder="Type the playlist you want to find">
							<button type="submit"><i class="fa fa-search"></i> Search</button>
						</form> 
					</div> 

					<div class="search-for-tracks-container">
						<form class="search-for-tracks" > 
							<input  type="text" placeholder="Type the track you want to find">
							<button type="submit"><i class="fa fa-search"></i> Search</button>
						</form> 
					</div> 

				 
					
				</div> 
			</div> 

		</div> 

{{view "search/index"}}
