     <div class="create-new-station">
     <label>CREATE NEW STATION</label>
             <input id="station-name" type="text" placeholder="station name">
          <div id="save">Create</div>
          </div>   

          

         