<div id="my-stations"></div>  
<div class="edit-my-stations-container">
  <div class="edit-my-stations">
    <span class="close-popup">
      <i class="fa fa-times"></i>
    </span>
    <div id="edit-my-stations"></div> 
  </div> 
</div>