

<div class="player-actions"> 
	<div>
		<div class="col-md-1">
			<span class="share-label">Share</span>
		</div> 
		<div class="col-md-5 track-progress">
			<div class="track-seek-bar">
				<div class="now-playing"></div>
				<div class="time">
					<div class="track-current-time">0:00</div>
					<div class="track-duration">0:00</div> 
				</div>
				<div class="track-play-bar"></div>
			</div>
		</div> 
		<div class="controls">
			<button class="expand-video" title="expand video">
				<i class="fa fa-expand"></i>
			</button>
			<button class="prev-track" title="previous track">
				<i class="fa fa-step-backward fa-3"></i>
			</button>  
			<button class="track-play-pause" >
				<i class="fa fa-play fa-3"></i>
			</button>
			<button class="next-track" title="next track">
				<i class="fa fa-step-forward fa-3"></i>
			</button>  
			<button class="volume" title="volume">
				<span class="volume-mute-unmute volume-mute">
					<i class="fa fa-volume-off"></i>
					<i class="fa fa-volume-up"></i>
				</span> 
				<span class="volume-bar">
					<span class="volume-bar-value"></span>
				</span>
			</button> 
		</div> 
	</div>
</div> 
<div class="col-md-1">
	<div class="row">
		<div class="share">
			<div class="dark-bg facebook">
				<i class="fa fa-facebook"></i>
			</div>
			<div class="dark-bg twitter">
				<i class="fa fa-twitter"></i>
			</div>
			<div class="dark-bg google-plus">
				<i class="fa fa-google-plus"></i>
			</div>
		</div>
	</div>
</div>
<div class="col-md-5">
	<div class="row">
		<div id="player">
			<span class="minimize-video">
				<i class="fa fa-compress"></i>
			</span>
			<span class="player-overlay"></span>
		</div>
	</div> 
</div>

